environment: dev

replicaCount: 1
nameOverride: ""

serviceAccount:
  create: true
  automount: true
  annotations: {}
  name: ""

podAnnotations: {}
podLabels: {}
podSecurityContext:
  runAsUser: 999
  runAsGroup: 999
  fsGroup: 999

service:
  port: 6379

secrets:
  app:
    name: app
    data:
      DATABASE_URL: ""
      OTEL_SDK_DISABLED: "false"
      OTEL_RESOURCE_ATTRIBUTES: ""
      OTEL_EXPORTER_OTLP_ENDPOINT: ""
      OTEL_EXPORTER_OTLP_HEADERS: ""
      DISCORD_TOKEN: ""
      CONFIG_PATH: "/etc/krusty/config.yaml"

persistentVolumeClaims:
  redict-data:
    name: redict-data
    accessModes:
      - ReadWriteOnce
    resources:
      requests:
        storage: 8Gi

imagePullSecrets:
  - name: regcred

containers:
  redict:
    image:
      command: ["redict-server", "/etc/redict/redict.conf"]
      repository: registry.redict.io/redict
      tag: 7-debian
      pullPolicy: IfNotPresent
    ports:
      - containerPort: 6379
    securityContext: {}
    livenessProbe: {}
    readinessProbe: {}
    envFrom: []
    resources:
      limits:
        memory: "1Gi"
        cpu: "500m"
      requests:
        memory: "128Mi"
        cpu: "250m"
    volumeMounts:
      - name: redict-data
        mountPath: /data
      - name: redict-config
        mountPath: /etc/redict
  krusty:
    image:
      repository: ghcr.io/ravenxdoesthings/krusty
      pullPolicy: Always
    securityContext: {}
    livenessProbe: {}
    readinessProbe: {}
    envFrom:
      - app
    resources:
      limits:
        memory: "128Mi"
        cpu: "500m"
      requests:
        memory: "64Mi"
        cpu: "250m"
    volumeMounts:
      - name: krusty-config
        mountPath: /etc/krusty

config:
  krusty-config:
    name: krusty-config
    data:
      config.yaml: |
        queue_id: "something-unique"
        guilds:
          1000000000000000001:
            commands: All
          1000000000000000002:
            commands: None
  redict-config:
    name: redict-config
    data:
      redict.conf: |
        bind 127.0.0.1 -::1
        protected-mode yes
        port 6379
        tcp-backlog 511
        timeout 0
        tcp-keepalive 300
        daemonize no
        pidfile /run/redict_6379.pid
        loglevel notice
        logfile ""
        databases 16
        always-show-logo no
        set-proc-title yes
        proc-title-template "{title} {listen-addr} {server-mode}"
        locale-collate ""
        save 60 1
        stop-writes-on-bgsave-error yes
        rdbcompression yes
        rdbchecksum yes
        dbfilename dump.rdb
        rdb-del-sync-files no
        dir ./
        replica-serve-stale-data yes
        replica-read-only yes
        repl-diskless-sync yes
        repl-diskless-sync-delay 5
        repl-diskless-sync-max-replicas 0
        repl-diskless-load disabled
        repl-disable-tcp-nodelay no
        replica-priority 100
        acllog-max-len 128
        lazyfree-lazy-eviction no
        lazyfree-lazy-expire no
        lazyfree-lazy-server-del no
        replica-lazy-flush no
        lazyfree-lazy-user-del no
        lazyfree-lazy-user-flush no
        oom-score-adj no
        oom-score-adj-values 0 200 800
        disable-thp yes
        appendonly no
        appendfilename "appendonly.aof"
        appenddirname "appendonlydir"
        appendfsync everysec
        no-appendfsync-on-rewrite no
        auto-aof-rewrite-percentage 100
        auto-aof-rewrite-min-size 64mb
        aof-load-truncated yes
        aof-use-rdb-preamble yes
        aof-timestamp-enabled no
        slowlog-log-slower-than 10000
        slowlog-max-len 128
        latency-monitor-threshold 0
        notify-keyspace-events ""
        hash-max-listpack-entries 512
        hash-max-listpack-value 64
        list-max-listpack-size -2
        list-compress-depth 0
        set-max-intset-entries 512
        set-max-listpack-entries 128
        set-max-listpack-value 64
        zset-max-listpack-entries 128
        zset-max-listpack-value 64
        hll-sparse-max-bytes 3000
        stream-node-max-bytes 4096
        stream-node-max-entries 100
        activerehashing yes
        client-output-buffer-limit normal 0 0 0
        client-output-buffer-limit replica 256mb 64mb 60
        client-output-buffer-limit pubsub 32mb 8mb 60
        hz 10
        dynamic-hz yes
        aof-rewrite-incremental-fsync yes
        rdb-save-incremental-fsync yes
        jemalloc-bg-thread yes
